@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-6">
        <h1>Current Player Rankings</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Player</td>
                    <td>Points</td>
                </tr>
            </thead>
            <tbody>
                @foreach (FifaRankings.Data.RankingLeaderboard p in ViewBag.RankingsLeaderboard)
                {
                    <tr>
                        <td>@p.Player</td>
                        <td>@p.RankingPoints</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h2>Player Handicaps</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Player</td>
                    <td>PI</td>
                    <td>Stars</td>
                </tr>
            </thead>
            <tbody>
            @foreach (FifaRankings.Data.Handicap player in ViewBag.PlayerHandicaps)
            {
                <tr>
                    <td>@player.Player</td>
                    <td>@((player.PerformanceIndicator.Value * 100).ToString("."))%</td>
                    <td>@player.Handicap1</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>